<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Strange Loops Audio makes unique musical software that explores new angles to sound synthesis, signal mapping and pitch selection. Everything we make is always free and open source on Github. Check out our products above, and send a message below if you have any questions or would like to get involved!</p>
      </div>
      <div class="col-lg-4">
        <p>Things we like:</p>
        <ul>
          <li>Free, open source software</li>
          <li>Weird and unique music tech</li>
          <li></li>
        </ul>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
